# Created by .ignore support plugin (hsz.mobi)

/.idea/
/functions/package-lock.json

/functions/node_modules/
/functions/libs/service-account.json
/node_modules/
/yarn.lock
/functions/yarn.lock
/functions/firebase-debug.log
